.App {
  margin:  auto;
  width: 50%;

}



.barz {

  text-align:center;



}



.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #949494;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #949494;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #85dcf9;
}
